<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>BTTalks :- Connecting Souls With Unique IDEAS</h1>
            <hr>
            <p>BTTalks is a a platform which organises Talk Shows and Events on diverse topics of the Universe. As our Tag Line itself tells that we are connecting souls with the unique ideas, we endevour at delivering the unique ideas through our content.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
